/*utilidades*/
.mt-3{
	margin-top: 3%;
}
.mb-3{
	margin-bottom: 3%;
}
h2{
	text-align: center;
	margin-bottom:10%;
}
.img-center{
	display: block;
	margin: auto;
}
section{
	margin-bottom: 5%;
}
/*header*/
.logo{
	width: 30%;
}
nav{
	margin-top: 3%;
}
a{
	text-decoration: none !important;
}
.Marcado {
	color: #2b440f !important;
}
.Marcado:hover {
	background-color: #2b440f !important;
	color: #FFFFFF !important;
	font-weight: bold;
	border-radius: 5px;
}
/*hero-image*/
.semilla{
	width: 100%;
	height: 500px;
	margin-top: 3%;
}
.texto{
	background-image: url(../img/fondo2.jpg);
	padding: 5%;
}
/*metodologia*/
.metodo{
	background-image: url(../img/metodo.JPG);
	width: 100%;
	height: 300px;
	background-size: 100% 100%;
}
.fondo{
	background-image: url(../img/fondo.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 300px;
	color: white;
	text-align: center;
	padding: 2%;
}

/*servicios*/
.servicios{
	font-weight: bold;
	font-size: 1.5em;
	margin: 3% 0;
}

/*proyectos*/
.verde{
	background-color: #2b440f;
	background-size: 100% 100%;
	padding: 3%;
	color: white;
	text-align: center;
}

/*equipo*/
.perfil{
	border-radius: 50%;
	display: block;
	margin: auto;
	width: 40%;
}
i {
	font-size: 3em !important;
}

/*blog*/

/*redes*/
.redes{
	background-color: #9F9C9C;
	color: white;
	background-size: 100% 100%;
	padding: 5%;
}

/*footer*/
footer{
	margin-bottom: 3%;
	background-color: #cbcbd1;
	padding: 2%;
}

